<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نمای سهم های منتخب</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="table1">
        <table class="table tab2 table-bordered">
            <thead>
                <tr>
                    <th scope="col">نام سهم</th>
                    <th scope="col">قیمت فروش</th>
                    <th scope="col">قیمت خرید</th>

                    <th scope="col" style="text-align: center;">نسبت به سکه رفاه</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="f-1">عیار</th>
                    <td class="f-1" style="color: rgb(6, 255, 6);">{{ ayar_data.best_supply_price }}</td>
                    <td class="f-1" style="color: red">{{ ayar_data.best_demand_price }}</td>

                    <td>{{ seker_data.best_demand_price / ayar_data.best_demand_price }}</td>
                </tr>
                <tr>
                    <th scope="row" class="f-1">گوهر</th>
                    <td class="f-1" style="color: rgb(6, 255, 6);">{{ gohar_data.best_supply_price }}</td>
                    <td class="f-1" style="color: red">{{ gohar_data.best_demand_price }}</td>

                </tr>
                <tr>
                    <th scope="row" class="f-1">مثقال</th>
                    <td class="f-1" style="color: rgb(6, 255, 6);">{{ mes_data.best_supply_price }}</td>
                    <td class="f-1" style="color: red">{{ mes_data.best_demand_price }}</td>
                    <td style="text-align: center;">{{ nesbat_ms }}</td>


                </tr>
                <tr>
                    <th scope="row" class="f-1">طلا</th>
                    <td class="f-1" style="color: rgb(6, 255, 6);">{{ tala_data.best_supply_price }}</td>
                    <td class="f-1" style="color: red">{{ tala_data.best_demand_price }}</td>

                </tr>
                <tr>
                    <th scope="row" class="f-1">کهربا</th>
                    <td class="f-1" style="color: rgb(6, 255, 6);">{{ kahroba_data.best_supply_price }}</td>
                    <td class="f-1" style="color: red">{{ kahroba_data.best_demand_price }}</td>

                </tr>
                <tr>
                    <th scope="row" class="f-1">زر</th>
                    <td class="f-1" style="color: rgb(6, 255, 6);">{{ zar_data.best_supply_price }}</td>
                    <td class="f-1" style="color: red">{{ zar_data.best_demand_price }}</td>

                </tr>
                <tr>
                    <th scope="row" class="f-1">سکه رفاه</th>
                    <td class="f-1" style="color: rgb(6, 255, 6);">{{ seker_data.best_supply_price }}</td>
                    <td class="f-1" style="color: red">{{ seker_data.best_demand_price }}</td>
 
                </tr>
                <tr>
                    <th scope="row" class="f-1">سکه آینده</th>
                    <td class="f-1" style="color: rgb(6, 255, 6);">{{ sekea_data.best_supply_price }}</td>
                    <td class="f-1" style="color: red">{{ sekea_data.best_demand_price }}</td>

                </tr>
            </tbody>
        </table>
        <button onclick="window.location.href=''" type="button" class="btn btn-primary">مشاهده نسبت ها</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>